body, html{
    margin: 0;
    font-size: 100%;
    vertical-align: baseline;
    height: auto;
}
*, *:before, *:after{
    max-width: 100%;
    box-sizing: border-box;
}

html{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
}
body{
    line-height: 1;
}
h1, h3, h4, h5, p {
  margin-bottom: 10px;
  margin-top: 10px;
}
h1 {
  font-size: 34px;
  line-height: 40px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}

ul{
    list-style: none;
    display: inline;
}
img{
    border-radius: 2%;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
}
table, th, td {
    padding: 1%
}
th, td {
    border-bottom: 1px solid #bbb09b;
}
td{
    vertical-align: middle;
    text-align: left;
    margin-left: 1%;
}
td a{
    padding: 1%;
}
th{
    text-align: left;
}
.header{
    background-color: darkgreen;
    padding: 0;
    width: 100%;
    height: 150px;
}
.bname{
    float: right;
    text-align: left;
    width: 85%
}
.logo{
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    width: 15%;
}
.logo img{
    width: 100%;
    height: 150px;
}
.header h2{
    color: black;
    margin-left: 50%;
    text-transform: uppercase;
    vertical-align: middle;
}

.container{
    margin: 0, auto;
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
    height: auto;
}
.start{
    width: 100%;
    text-align: center;
    margin-top: 10%;
    padding-left: 1%;
    padding-right: 1%;

}
.main{
    padding: 1%;
}
.main,
.middle{
    padding-top: : 1%;
    background-color: Silver;
    float: right;
    width: 85%
}
.sidebar{
    float: left;
    width: 15%;

}
.col-1,
.col-2,
.col-3{
    margin: 0;
    width:33%;
    padding: .5%;
    display: inline-block;
    height: auto;
}
.row{
    height: auto;
    margin: 1%;
    padding: 1%;
}

form{
    margin-left: 1%;
    padding: 1%
}
.signupform input,
.signinform input,
.addameal input,
.order-form input{
    width: 70%;
    padding: 1%;
    margin: 1%;
}

.footer{
    width: 100%;
}
.footer ul{
    margin-left: 30%;
}
.footer li{
    display: inline-block;
    margin: 1%;

}

blockquote {
    color: #e26d5a;
    max-width: 50%;
    background: #bbb09b;
    border-left: 10px solid #ccc;
    margin: 1%;
    padding: 0.5%;
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 1;
}
blockquote:after {
    color: #ccc;
    content: close-quote;
    font-size: 1;
}
blockquote p {
  display: inline;
}

a {
  color: blue;
  text-decoration: none;
}
a:hover {
  color: purple;
}
a:active{
    color: lightblue;
}


.menu{
    background-color: green;
    min-height: 700px; 
}
.menu-item{
    text-align: justify;
    top: 0;
    left: 0;
    border: 1px solid black;
    border-radius: 3%;
}
.menu-item img{
    text-align: justify;
    top: 0;
    left: 0;
    height: 100px;
    width: 50%;
}


.button,
.button-grp{
    height: 50px;
    width: 25%;
    margin: 0;
    border: 1px solid darkblue;
    border-radius: 3%;
}

.button,
.button-grp,
.menu-button{
    background-color: darkblue;
    text-transform: uppercase;
    padding: 1%;
    color: white;
    text-align: center;

}
.menu-button{
    display: flex;
    height: 40px;
    margin-left: 3%;
    margin-right: 3%;
}
.button-grp{
    display: inline-flex;
}
.menu-button:hover,
.button-grp:hover,
.button:hover{
    color: blue;
    background-color: white;
}


.advert{
    float: left;
    max-width: 20%;
    margin: 1%;
    padding: 1%;
}
.order{
    float: right;
    width: 75%
}



.navbar{
    width: 100%;
}

.navbar ul{
    display: flex;
    padding: 1%;

}
.navbar li{
    margin: 1%;

}


.team{
    text-align: justify;
    margin: 1%;
}
.profile img{
    width:70%;
    height: 150px;
}
.profile{
    border: 1px solid black;
    border-radius: 2%;
    padding: 1%;
}


.inspirational{
    padding: 3%;
    margin: 0;
}



.nav-management{
    text-align: center;
    margin: 0;
}
.notice{
    text-align: justify;
    padding: 1%;
    margin: 1%;
    border: 1px solid black;
    border-radius: 10%;
}


.welcomebanner{
    text-align: center;
    padding: 1%;
    margin: 2%;
    
}
